* {
  font-size: 1.5rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: orange;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0rem black;
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: orange;
  color: white;
}

::placeholder {
  color: whitesmoke;
}

test {
    width: 50%;
    height: 50%;
}